@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Patrick Hand", cursive;
  background-color: #2ec4b6;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  position: relative;
  z-index: 100;
  top: -16rem;
  color: #f4d35e;
}

.grid-wrapper {
  display: grid;
  width: 50rem;
  height: 50rem;
  background-color: #fdfffc;
  border: 4rem solid #e63946;
  border-bottom: 7rem solid #e63946;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 10px 1px #00000075;
  position: absolute;
}

.thumstick-container {
  display: flex;
  position: relative;
  top: 23.5rem;
  z-index: 100;
  width: 47.5rem;
  justify-content: space-between;
}

.circle {
  background-color: #fdfffc;
  width: 5.5rem;
  height: 5.5rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 0 3px 0px #00000085;
}

.board-controls-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  top: -5rem;
  left: 39rem;
  background-color: #3c8e87;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.board-controls-container > * {
  border: 0;
  color: black;
  text-align: center;
  background-color: white;
  text-transform: uppercase;
  border-radius: 0.5rem;
  padding: 1rem;
}

.board-controls-container > *:focus-visible {
  outline: 2px solid #e63946;
}

::placeholder {
  color: black;
  opacity: 1;
  text-align: center;
}

/* Repsonsive design */
@media screen and (max-width: 768px) {
  body {
    justify-content: inherit;
  }

  h1 {
    font-size: 2.5rem;
    top: 0.75rem;
  }

  .grid-wrapper {
    width: 90vw;
    height: 35rem;
    border: 3rem solid #e63946;
    border-bottom: 5rem solid #e63946;
    border-radius: 1rem;
    margin-top: 1rem;
  }

  #btn-number {
    top: 28.5rem;
  }

  .thumstick-container {
    top: 28rem;
    width: 20rem;
  }

  .circle {
    width: 4rem;
    height: 4rem;
  }

  .board-controls-container {
    display: flex;
    flex-direction: row;
    background: none;
    gap: 0.75rem;
    top: 29rem;
    left: 0rem;
  }
}
